*{
    margin: 0px;
    padding: 0px;
}
.header-container {
    background-color: rgb(252, 238, 241);
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 14%;
    gap: 60px;
}
p.desc {
    width: 361px;
    font-size: 12px;
    color: gray;
    margin-top: 28px;
}
img.image {
    height: 86vh;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 86px;
}
  
h2.heading {
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
}
button.btn {
    margin-top: 27px;
    border-radius: 2px;
    background: #E55473;
    border: none;
    padding: 18px 25px 17px 27px;
    color: white;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
.main-header {
    text-align: center;
}
p.text {
    width: 37%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: gray;
    font-size: 11px;
}
.main-header {
    text-align: center;
    margin: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.images1 {
    background-color: #F1DDE7;
    height: 285px;
    width: 285px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.images2 {
    background-color: #D9EFF0;
    height: 285px;
    width: 285px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.images3 {
    background-color: #D9EFB9;
    height: 285px;
    width: 285px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
/* D9EFF0 */
.image-card {
    display: flex;
    width: 85%;
    justify-content: center;
    margin: 26px auto;
    gap: 25px;
}

img.cards {
	width: 65%;
	height: 69%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 31%;
	margin-left: 17%;
}
h4.align {
    text-align: center;
    font-size: 20px;
    margin-top: 9px;
}
.after-card {
    /* display: flex; */
    width: 905px;
    /* justify-content: center; */
    margin: auto;
    /* gap: 25px; */
    margin-top: 90px;
    /* background-color: gray; */
    height: 175px;
    /* justify-content: center; */
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.add-icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px;
    justify-content: center;
    gap: 64px;
    align-items: center;
    /* margin-top: 25%; */
    padding: 58px;
}
img.icon {
    width: 50px;
}
h5.service {
    color: rgba(39, 39, 39, 0.80);
    /* text-align: center; */
    /* font-size: 24px; */
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
}
.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    /* display: flex; */
    /* align-items: center; */
    /* padding: 60px; */
    /* margin-top: 7%; */
    height: 60vh;
}
.deal-texts {
    text-align: center;
    /* margin: auto; */
}
p.deal-para {
    width: 69%;
    text-align: center;
    margin: auto;
}
h2.deal-title {
    font-size: 29px;
    text-align: center;
}
img.deal-image {
    width: 55%;
}
p.deal-para {
    width: 62%;
    text-align: center;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
}
.flex {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 81px auto;
    padding: 75px;
}
.social-section {
    width: 80%;
}
.social-image-card {
    display: flex;
    width: 85%;
    justify-content: center;
    margin: 64px auto;
    gap: 25px;
}
img.card {
    width: 100%;
}
.back-image-section {
    background-image: url("Flower Asset/Rectangle 9.png");
    /* display: flex; */
    /* justify-content: space-around; */
    height: 281px;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    /* background-image: url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53)); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.latest-deals-section {
    width: 85%;
    margin: auto;
}
.section {
    /* margin: 75px; */
    padding: 74px;
}
input[type="text"] {
    width: 72%;
    padding: 20px;
    border: navajowhite;
    border-radius: 3px;
    margin-top: 25px;
}
.latest {
    color: black;
}
input[type="text"] {
    width: 72%;
    padding: 20px;
    border: navajowhite;
    border-radius: 3px;
    margin-top: 25px;
    border: none;
}
.latest-section-btn {
    display: flex;
    gap: 15px;
    justify-content: center;
}
p.color {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.footer-section {
    background: #111010;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 25px; */
    padding: 35px;
}
.footer-text {
    color: white;
    text-align: center;
    width: 85%;
    margin: auto;
}
p.footer-desc {
    width: 45%;
    margin: auto;
    line-height: 22px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.90);
    display: flex;
    justify-content: center;
}
p.last-text {
    padding: 30px;
    color: rgba(255, 255, 255, 0.40);
}
span.word-color {
    color: #E55473;
}